body{
	background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(
    -90deg,
    lightblue,
    black
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    -90deg,
    lightblue,
    black
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    -90deg,
    lightblue,
    black
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, lightblue, black); /* Standard syntax */
}

h1{
	text-transform: uppercase;
	color: orange;
}

img {
	border-color: red;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 17%;
    left: 28%;
    clip: rect(104px,477px,153px,2px);
}

#third{	
	border-size: 2px;
	border-style: solid;
	border-color: transparent;
	width: 40%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}

#box{
	border-size: 2px;
	border-style: solid;
	border-color: transparent;
	width: 65%;
	text-align: center;
	margin: 0 auto;
	font-size: 20px;
}


button{
  color: black;
  background-color: transparent;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.split{
    height: 100%;
    width: 79%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

#left{
  left: 0%;
  background-color: transparent;
 }

.right{
  right: -56%;
  top: 20%;
 }

#numCount{
	font-size: 20px;
}

#image{
	border-color: red;
	text-align: center;
    display: block;
}

#result{
	color: red;
    font-size: 25px;
    position: absolute;
    left: 5%;
}